.center{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.task-manager{
    display: flex;
    width: 75%;
    height: 75%;
    max-width: 1000px;
    max-height: 680px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width:200px;
    background-color: white;
    padding: 40px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.task-list{
    display: flex;
    flex-grow: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 40px;
    background-color: white;
}

.title{
    font-family: 'Courier New', Courier, monospace;
    font-size: 25px;
}