<div class="center">
    <div class="task-manager">

        <div class="sidebar">
            <h1 class="title">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item">
                    <p>List 1</p>
                </a>
                <a class="list-menu-item">
                    <p>List 2</p>
                </a>
                <a class="list-menu-item">
                    <p>List 3</p>
                </a>
            </div>

            <button (click)="createList()" class="button">+ New List</button>
        </div>

        <div class="task-list">
            <h1 class="title">
                Tasks
            </h1>

            <div class="task">
                <p>This is Something Task</p>
            </div>
            <div class="task">
                <p>This is Something Task</p>
            </div>
            <div class="task">
                <p>This is Something Task</p>
            </div>
        </div>

    </div>
</div>
