.task-manager{
    display: flex;
    width: 75%;
    height: 75%;
    max-width: 1000px;
    max-height: 680px;
}

.sidebar{
    display: flex;
    flex-direction: column;
    width:200px;
    background-color: lightcyan;
    padding: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.task-list{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px;
    background-color: rgb(231, 227, 227);
}

.list-menu{
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.list-menu-item{
    display: flex;
    align-items: center;
    padding: 5px 15px;
    margin-top: 5px;
    border-radius: 5px;
    width: 100%;
    color: brown;
}

.list-menu-item:hover{
    background-color: lightgray;
}

.button{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 400px;
    margin-right: 100px;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightgray;
    width: 150px;
    height: 30px;
}

.button:hover{
    background-color: lightgreen;
}

.task{
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.task:hover{
    background-color: lightgray
}

.add-task-button{
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    bottom: 110px;
    right: 200px;
    cursor: pointer;
    background-color: lightcyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.add-task-button:hover{
    background-color: lightgreen;
}

