<div class="center">
    <div class="task-manager">

        <div class="sidebar">
            <h1 class="title">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let i of lists" [routerLink]="['/lists',i._id]">
                    <p>{{i.title}}</p>
                </a>
            </div>

            <button routerLink="/newlist" class="button">+ New List</button>
        </div>

        <div class="task-list">
            <h1 class="title">
                Tasks
            </h1>

            <div class="task" *ngFor="let i of tasks">
                <p>{{i.title}}</p>
            </div>
        </div>

    </div>
</div>
