.task-manager {
    display: flex;
    width: 75%;
    height: 75%;
    max-width: 1000px;
    max-height: 680px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: lightcyan;
    padding: 30px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
}

.task-list {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    padding: 30px;
    background-color: rgb(231, 227, 227);
}

.task-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 5px 15px;
    border-radius: 5px;
    margin-top: 5px;
    cursor: pointer;
}

.task-item:hover {
    background-color: lightgray;
}

.task-icons {
    display: flex;
    gap: 10px;
}

.edit-icon, .delete-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 20px;
    color: #4CAF50; /* Green for edit */
}

.delete-icon {
    color: #F44336; /* Red for delete */
}

.edit-icon:hover {
    color: #76d7c4;
}

.delete-icon:hover {
    color: #ff6f61;
}

.add-task-button {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    bottom: 110px;
    right: 200px;
    cursor: pointer;
    background-color: lightcyan;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.add-task-button:hover {
    background-color: lightgreen;
}

.edit-button {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 400px;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightcyan;
    width: 65px;
    height: 30px;
}

.edit-button:hover {
    background-color: lightgreen;
}

.delete-button {
    position: absolute;
    font-family: 'Courier New', Courier, monospace;
    margin-top: 400px;
    margin-left: 70px;
    border-radius: 10px;
    cursor: pointer;
    background-color: lightcyan;
    width: 75px;
    height: 30px;
}

.delete-button:hover {
    background-color: lightgreen;
}
